<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Outside - Minimalist Ecommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    
    <!-- All CSS Files -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <!-- Plugins css file -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    
</head>

<body>

     



<!-- Body main wrapper start -->
<div class="wrapper">

<!-- START HEADER SECTION -->
<header class="header-section section sticker">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- logo -->
                <div class="header-logo float-left">
                    <a href="index.html"><img src="img/logo.png" alt="main logo"></a>
                </div>
                <!-- header-search & total-cart -->
                <div class="float-right">
                    <div class="header-option-btns float-right">
                        <!-- header-search -->
                        <div class="header-search float-left">
                            <button class="search-toggle" data-toggle="dropdown"><i class="pe-7s-search"></i></button>
                            <div class="dropdown-menu header-search-form">
                                <form action="#">
                                    <input type="text" placeholder="Search">
                                    <button><i class="fa fa-long-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- header Account -->
                        <div class="header-account float-left">
                            <ul>
                                <li><a href="#" data-toggle="dropdown"><i class="pe-7s-config"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">我的账号</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Header Cart -->
                        <div class="header-cart float-left">
                            <!-- Cart Toggle -->
                            <a class="cart-toggle" href="#" data-toggle="dropdown">
                                <i class="pe-7s-cart"></i>
                                <span>2</span>
                            </a>
                            <!-- Mini Cart Brief -->
                            <div class="mini-cart-brief dropdown-menu text-left">
                                <!-- Cart Products -->
                                <div class="all-cart-product clearfix">
                                    <div class="single-cart clearfix">
                                        <div class="cart-image">
                                            <a href="product-details.html"><img src="img/product/cart-1.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h5><a href="product-details.html">Le Parc Minotti Chair</a></h5>
                                            <p>1 x £9.00</p>
                                            <a href="#" class="cart-delete" title="Remove this item"><i class="pe-7s-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-cart clearfix">
                                        <div class="cart-image">
                                            <a href="product-details.html"><img src="img/product/cart-2.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h5><a href="product-details.html">DSR Eiffel chair</a></h5>
                                            <p>1 x £9.00</p>
                                            <a href="#" class="cart-delete" title="Remove this item"><i class="pe-7s-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cart Total -->
                                <div class="cart-totals">
                                    <h5>Total <span>£12.00</span></h5>
                                </div>
                                <!-- Cart Button -->
                                <div class="cart-bottom  clearfix">
                                    <a href="checkout.html">Check out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="main-menu menu-right float-right">
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li><a href="login.html">登录</a></li>
                            <li><a href="register.html">注册</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER SECTION -->

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-banner-content">
                    <h1>购物车</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">主页</a></li>
                        <li class="active">购物车</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-80">
    <div class="container" id="cartList">
        <div class="row">
            <form action="#">				
                <div class="col-xs-12">
                    <div class="cart-table table-responsive mb-40">
                        <table>
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">图片</th>
                                    <th class="pro-title">商品</th>
                                    <th class="pro-price">价格</th>
                                    <th class="pro-quantity">数量</th>
                                    <th class="pro-subtotal">总计</th>
                                    <th class="pro-remove">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(c, i) in cartList">
                                    <td class="pro-thumbnail"><a href="#"><img :src="c.goodsLogoPath" alt="" /></a></td>
                                    <td class="pro-title"><a href="#">{{c.goodsName}}</a></td>
                                    <td class="pro-price"><span class="amount">￥{{c.goodsPrice}}</span></td>
                                    <td class="pro-quantity">
                                        <div class="product-quantity">
                                            <input type="text" v-model="c.goodsNum">
                                            <span class="dec qtybtn">
                                                <i class="fa fa-angle-left" @click="minus(i)" ></i>
                                            </span>
                                            <span class="inc qtybtn">
                                                <i class="fa fa-angle-right" @click="add(i)"></i>
                                            </span>
                                        </div>
                                    <td class="pro-subtotal">￥{{c.goodsPrice * c.goodsNum }}</td>
                                    <td class="pro-remove"><a href="#">×</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <div class="cart-buttons mb-30">
                        <input type="submit" value="更新购物车" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="cart-total mb-40">
                        <h3>购物车总计</h3>
                        <table>
                            <tbody>
                                <tr class="order-total">
                                    <th>总价</th>
                                    <td>
                                        <strong><span class="amount">${{total}}</span></strong>
                                    </td>
                                </tr>											
                            </tbody>
                        </table>
                        <div class="proceed-to-checkout section mt-30">
                            <a href="#">生成订单</a>
                        </div>
                    </div>
                </div>
            </form>	
        </div>
    </div>
</div>
<!-- PAGE SECTION END --> 

<!-- FOOTER TOP SECTION START -->
<div class="footer-top-section section pt-100 pb-60">
    <div class="container">
        <div class="row">
            
            <!-- Footer Widget -->
            <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-40">
                <h5 class="widget-title">关于本店</h5>
                <p>本店介绍本店介绍本店介绍本店介绍本店介绍</p>
            </div>
            
            <!-- Footer Widget -->
            <div class="footer-widget col-md-2 col-sm-6 col-xs-12 mb-40">
                <h5 class="widget-title">PROFILE</h5>
                <ul>
                    <li><a href="#">my Account</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">help</a></li>
                    <li><a href="#">support</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER TOP SECTION END -->

<!-- FOOTER BOTTOM SECTION START -->
<div class="footer-bottom-section section">
	<div class="container">
		<div class="row">
            <!-- Copyright -->
			<div class="copyright text-left col-sm-6 col-xs-12">
				<p>Powered by <a href="https://hastech.company/">HasTech</a></p>
			</div>
			<!-- Payment Method -->
			<div class="footer-menu text-right col-sm-6 col-xs-12">
				<a href="#">Help & Support</a>
			</div>
		</div>
	</div>
</div>
<!-- FOOTER BOTTOM SECTION END -->  
   

</div>
<!-- Body main wrapper end -->


<!-- Placed JS at the end of the document so the pages load faster -->

<!-- jQuery latest version -->
<script src="js/vendor/jquery-3.1.1.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Ajax Mail js -->
<script src="js/ajax-mail.js"></script>

<!-- Vue -->
<script src="js/vendor/vue.min.js"></script>
<!-- Element -->
<script src="js/vendor/element.min.js"></script>
<!-- api -->
<script src="js/apis.js"></script>
<!-- ajax -->
<script src="js/ajax-plugin.js"></script>

<script>
    var cartListVM = new Vue({
        el: '#cartList',
        data: {
            cartList: [
                //传给后台每组的orderId和goodsNum、还有最后一个orderTotalPrice
                {
                    orderId: 'orderId',
                    goodsLogoPath: 'img/product/1.jpg',
                    goodsName: '商品名称',
                    goodsPrice: 123.00,
                    goodsNum: 3
                },
                {
                    orderId: 'orderId',
                    goodsLogoPath: 'img/product/1.jpg',
                    goodsName: '商品名称',
                    goodsPrice: 123.00,
                    goodsNum: 3
                },
                {
                    orderId: 'orderId',
                    goodsLogoPath: 'img/product/1.jpg',
                    goodsName: '商品名称',
                    goodsPrice: 123.00,
                    goodsNum: 3
                }
            ]
        },
        methods: {
            minus: function (i) {
                if (this.cartList[i].goodsNum === 1) return
                else this.cartList[i].goodsNum--
            },
            add: function (i) {
                this.cartList[i].goodsNum++
            }
        },
        computed: {
            total: function () {
                var total = 0
                var length = this.cartList.length
                for (var i = 0; i < length; i++) {
                    total += (this.cartList[i].goodsPrice * this.cartList[i].goodsNum)
                }
                return total
            }
        }
    })
</script>

</body>

</html>
