<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Outside - Minimalist Ecommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/onlineShopping/opView/img/favicon.ico">

    <!-- All CSS Files -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/onlineShopping/opView/css/bootstrap.min.css">
    <!-- Element UI -->
    <link rel="stylesheet" href="/onlineShopping/opView/css/element.css">
    <!-- Icon Font -->
    <link rel="stylesheet" href="/onlineShopping/opView/css/font-awesome.min.css">
    <link rel="stylesheet" href="/onlineShopping/opView/css/pe-icon-7-stroke.css">
    <!-- Plugins css file -->
    <link rel="stylesheet" href="/onlineShopping/opView/css/plugins.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/onlineShopping/opView/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/onlineShopping/opView/css/responsive.css">

    <!-- Modernizr JS -->
    <script src="/onlineShopping/opView/js/vendor/modernizr-2.8.3.min.js"></script>
    
</head>

<body>

     


<!-- Body main wrapper start -->
<div class="wrapper">

<!-- START HEADER SECTION -->
<header class="header-section section sticker" id="shopCart">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- logo -->
                <div class="header-logo float-left">
                    <a href="product-list.html"><img src="/onlineShopping/opView/img/logo.png" alt="main logo"></a>
                </div>
                <!-- header-search & total-cart -->
                <div class="float-right">
                    <div class="header-option-btns float-right">
                        <!-- header Account -->
                        <div class="header-account float-left" v-if="user.userId">
                            <ul>
                                <li><a href="#" data-toggle="dropdown"><i class="pe-7s-config"></i></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/onlineShopping/opView/myaccount.html">我的账号</a>
                                        </li>
                                        <li v-if="user.userType === 'shop'">
                                            <a href="/onlineShopping/opView/product-manage.html">商品管理</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Header Cart -->
                        <div class="header-cart float-left" v-if="user.userType === 'buyer'">
                            <!-- Cart Toggle -->
                            <a class="cart-toggle" href="#" data-toggle="dropdown">
                                <i class="pe-7s-cart"></i>
                                <span>{{cartList.length}}</span>
                            </a>
                            <!-- Mini Cart Brief -->
                            <div class="mini-cart-brief dropdown-menu text-left">
                                <!-- Cart Products -->
                                <div class="all-cart-product clearfix" v-for="ci in cartList">
                                    <div class="single-cart clearfix">
                                        <div class="cart-image">
                                            <a href="/onlineShopping/opView/product-details.html">
                                                <img :src="'/onlineShopping/shop/loadImage.do?type=goods&shopLogoPath=' + ci.goodsLogoPath" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h5><a href="/onlineShopping/opView/product-details.html">{{ci.goodsName}}</a></h5>
                                            <p>{{ci.goodsNum}} x ￥{{ci.goodsPrice}}</p>
                                            <a @click="delCart(ci.orderId)" class="cart-delete" title="Remove this item"><i class="pe-7s-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cart Total -->
                                <div class="cart-totals">
                                    <h5>总计<span>￥{{Math.round10(total, -2)}}</span></h5>
                                </div>
                                <!-- Cart Button -->
                                <div class="cart-bottom  clearfix">
                                    <a href="cart.html">下单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="main-menu menu-right float-right">
                        <ul>
                            <li><a href="/onlineShopping/opView/product-list.html">首页</a></li>
                            <li v-if="!user.userId"><a href="/onlineShopping/opView/login.html">登录</a></li>
                            <li v-if="!user.userId"><a href="/onlineShopping/opView/register.html">注册</a></li>
                            <li v-if="user.userId"><a @click="logout" style="cursor:pointer">登出</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER SECTION -->

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-banner-content">
                    <h1>添加商品</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">首页</a></li>
                        <li class="active">添加商品</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-120" id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="login-reg-form">
                    <form enctype="multipart/form-data" @submit.prevent="goodsSubmit">
                        <div class="row">
                              <div class="col-xs-12 mb-20">
                                  <label for="r_goods_name">商品名称<span class="required">*</span></label>
                                  <input id="r_goods_name" name="goodsName" v-model="goods.goodsName" type="text"/>
                              </div>
                              <div class="col-xs-12 mb-20">
                                  <label for="r_goods_type">商品类型<span class="required">*</span></label>
                                  <input id="r_goods_type" name="goodsType" v-model="goods.goodsType" type="text" />
                              </div>
                              <div class="col-xs-12 mb-20">
                                  <label for="r_goods_price">商品价格<span class="required">*</span></label>
                                  <input id="r_goods_price" name="goodsPrice" v-model="goods.goodsPrice" type="text"/>
                              </div>

                              <div class="col-xs-12 mb-20">
                                  <label for="r_goods_logo_path">商品图片<span class="required">*</span></label>
                                  <el-upload list-type="picture" :limit="1" name="goodsImage" accept=".jpg" action="https://jsonplaceholder.typicode.com/posts/" :multiple="false" :auto-upload="false">
                                    <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                                  </el-upload>
                              </div>

                              <div class="col-xs-12 mb-20">
                                  <label for="r_goods_details">商品详情描述<span class="required">*</span></label>
                                  <textarea id="r_goods_details" name="goodsDetails" v-model="goods.goodsDetails" style="width: 100%;height: 120px;border: 1px solid #ddd;resize: none;"></textarea>
                              </div>
                              <div class="col-xs-12">
                                  <input value="保存" type="submit">
                              </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION END --> 

<!-- FOOTER TOP SECTION START -->
<div class="footer-top-section section pt-100 pb-60">
    <div class="container">
        <div class="row">
            
            <!-- Footer Widget -->
            <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-40">
                <h5 class="widget-title">关于本店</h5>
                <p>本店介绍本店介绍本店介绍本店介绍本店介绍</p>
            </div>
            
            <!-- Footer Widget -->
            <div class="footer-widget col-md-2 col-sm-6 col-xs-12 mb-40">
                <h5 class="widget-title">PROFILE</h5>
                <ul>
                    <li><a href="#">my Account</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">help</a></li>
                    <li><a href="#">support</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER TOP SECTION END -->  

<!-- FOOTER BOTTOM SECTION START -->
<div class="footer-bottom-section section">
	<div class="container">
		<div class="row">
            <!-- Copyright -->
			<div class="copyright text-left col-sm-6 col-xs-12">
				<p>Powered by <a href="https://hastech.company/">HasTech</a></p>
			</div>
			<!-- Payment Method -->
			<div class="footer-menu text-right col-sm-6 col-xs-12">
				<a href="#">Help & Support</a>
			</div>
		</div>
	</div>
</div>
<!-- FOOTER BOTTOM SECTION END -->  
   

</div>
<!-- Body main wrapper end -->

<style>
.el-upload__input {
  display: none !important;
}
</style>
<!-- Placed JS at the end of the document so the pages load faster -->

<!-- jQuery latest version -->
<script src="/onlineShopping/opView/js/vendor/jquery-3.1.1.min.js"></script>
<!-- Bootstrap js -->
<script src="/onlineShopping/opView/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/onlineShopping/opView/js/plugins.js"></script>
<!-- Ajax Mail js -->
<script src="/onlineShopping/opView/js/ajax-mail.js"></script>

<!-- Vue -->
<script src="/onlineShopping/opView/js/vendor/vue.min.js"></script>
<!-- Element -->
<script src="/onlineShopping/opView/js/vendor/element.min.js"></script>
<!-- api -->
<script src="/onlineShopping/opView/js/apis.js"></script>
<!-- ajax -->
<script src="/onlineShopping/opView/js/ajax-plugin.js"></script>

<!-- shopcart -->
<script src="/onlineShopping/opView/js/shop-cart.js"></script>

<!-- Main js -->
<script src="/onlineShopping/opView/js/main.js"></script>

<script>
 var RegisterVM = new Vue({
     el:"#register",
     data: {
         goods: {
             goodsName: '',
             goodsType: '',
             goodsPrice: '',
             goodsDetails: ''
        },
        imageUrl: ''

     },
     methods: {
         goodsSubmit: function (e) {
             var self = this

             switch (true){
                 case self.goods.goodsName === '':
                     self.$notify.error({title:'错误', message: '商品名称不能为空 '});
                     return false
                 case self.goods.goodsType === '':
                     self.$notify.error({title:'错误', message: '商品类型不能为空 '});
                     return false
                 case self.goods.goodsPrice === '':
                     self.$notify.error({title:'错误', message: '商品价格不能为空 '});
                     return false
                 case e.target['goodsImage'].value === '':
                     self.$notify.error({title:'错误', message: '商品图片不能为空 '});
                     return false
                 case self.goods.goodsDetails === '':
                     self.$notify.error({title:'错误', message: '商品详情描述不能为空 '});
                     return false
             }
             self.addGoods(e.target)
         },
         addGoods: function (form) {
            var fd = new FormData(form)
            this.$req('addGoods', fd, 'formdata')
              .then(function(){
                window.location.pathname = '/onlineShopping/opView/myaccount.html'
              })
         },
         handleAvatarSuccess: function(res, file) {
             this.imageUrl = URL.createObjectURL(file.raw);
         },
         beforeAvatarUpload: function(file) {
             const isJPG = file.type === 'image/jpeg';
             const isLt2M = file.size / 1024 / 1024 < 2;

             if (!isJPG) {
                 this.$message.error('上传头像图片只能是 JPG 格式!');
             }
             if (!isLt2M) {
                 this.$message.error('上传头像图片大小不能超过 2MB!');
             }
             return isJPG && isLt2M;
         }
     }
 })
</script>

</body>

</html>
