<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>商品详情</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    
    <!-- All CSS Files -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Element UI -->
    <link rel="stylesheet" href="css/element.css">
    <!-- Icon Font -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <!-- Plugins css file -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    
</head>

<body>

     



<!-- Body main wrapper start -->
<div class="wrapper">

<!-- START HEADER SECTION -->
<header class="header-section section sticker">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- logo -->
                <div class="header-logo float-left">
                    <a href="index.html"><img src="img/logo.png" alt="main logo"></a>
                </div>
                <!-- header-search & total-cart -->
                <div class="float-right">
                    <div class="header-option-btns float-right">
                        <!-- header-search -->
                        <div class="header-search float-left">
                            <button class="search-toggle" data-toggle="dropdown"><i class="pe-7s-search"></i></button>
                            <div class="dropdown-menu header-search-form">
                                <form action="#">
                                    <input type="text" placeholder="Search">
                                    <button><i class="fa fa-long-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- header Account -->
                        <div class="header-account float-left">
                            <ul>
                                <li><a href="#" data-toggle="dropdown"><i class="pe-7s-config"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">我的账号</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Header Cart -->
                        <div class="header-cart float-left">
                            <!-- Cart Toggle -->
                            <a class="cart-toggle" href="#" data-toggle="dropdown">
                                <i class="pe-7s-cart"></i>
                                <span>2</span>
                            </a>
                            <!-- Mini Cart Brief -->
                            <div class="mini-cart-brief dropdown-menu text-left">
                                <!-- Cart Products -->
                                <div class="all-cart-product clearfix">
                                    <div class="single-cart clearfix">
                                        <div class="cart-image">
                                            <a href="product-details.html"><img src="img/product/cart-1.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h5><a href="product-details.html">Le Parc Minotti Chair</a></h5>
                                            <p>1 x £9.00</p>
                                            <a href="#" class="cart-delete" title="Remove this item"><i class="pe-7s-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="single-cart clearfix">
                                        <div class="cart-image">
                                            <a href="product-details.html"><img src="img/product/cart-2.jpg" alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h5><a href="product-details.html">DSR Eiffel chair</a></h5>
                                            <p>1 x £9.00</p>
                                            <a href="#" class="cart-delete" title="Remove this item"><i class="pe-7s-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cart Total -->
                                <div class="cart-totals">
                                    <h5>Total <span>£12.00</span></h5>
                                </div>
                                <!-- Cart Button -->
                                <div class="cart-bottom  clearfix">
                                    <a href="checkout.html">Check out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="main-menu menu-right float-right">
                        <ul>
                            <li><a href="index.html">首页</a></li>
                            <li><a href="login.html">登录</a></li>
                            <li><a href="register.html">注册</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER SECTION -->

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-banner-content">
                    <h1>商品详情</h1>
                    <ul class="breadcrumb">
                        <li><a href="#">主页</a></li>
                        <li class="active">商品详情</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BANNER SECTION -->
    
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-120" id="product">
    <div class="container">
        <div class="row mb-40">
            <!-- Single Product Images -->
            <div class="col-md-5 col-sm-6 col-xs-12 mb-40">	
                <!-- Tab panes -->
                <div class="tab-content mb-10">
                    <div class="pro-large-img tab-pane active" id="pro-large-img-1">
                        <img src="img/product/10.jpg" alt="" />
                    </div>
                </div>
            </div>
            <!-- Single Product Details -->
            <div class="col-md-7 col-sm-6 col-xs-12 mb-40">
                <div class="product-details section">
                    <!-- Title -->
                    <h1 class="title">{{ product.goodsName }}</h1>
                    <!-- Price Ratting -->
                    <div class="price-ratting section">
                        <!-- Price -->
                        <span class="price float-left"><span class="new">￥{{product.goodsPrice}}</span></span>
                    </div>
                    <!-- Short Description -->
                    <div class="short-desc section">
                        <h5 class="pd-sub-title">简介</h5>
                        <p>{{ product.goodsDetails }}</p>
                    </div>
                    <!-- Quantity Cart -->
                    <div class="quantity-cart section">
                        <button class="add-to-cart">添加进购物车</button>
                    </div>
                    <!-- Usefull Link -->
                    <ul class="usefull-link section">
                        <li><a href="#"><i class="pe-7s-mail"></i> Email to a Friend</a></li>
                        <li><a href="#"><i class="pe-7s-like"></i> Wishlist</a></li>
                        <li><a href="#"><i class="pe-7s-print"></i> print</a></li>
                    </ul>
                    <!-- Share -->
                    <div class="share-icons section">
                        <span>share :</span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Nav tabs -->
            <div class="col-xs-12">
                <ul class="pro-info-tab-list section">
                    <li class="active"><a href="#more-info" data-toggle="tab">商品介绍</a></li>
                    <li><a href="#data-sheet" data-toggle="tab">评论</a></li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content col-xs-12">
                <div class="pro-info-tab tab-pane active" id="more-info">
                    <p>{{ product.overview }}</p>
                </div>
                <div class="pro-info-tab tab-pane" id="data-sheet">
                    <a style="margin-bottom: 1em;cursor:pointer" @click="control.addCommetVisible = true">添加新评论</a>
                    <table class="table-data-sheet">
                        <tbody>
                            <tr class="odd">
                                <td>用户名</td>
                                <td>
                                    <div style="">用户评论用户评论用户评论用户评论用户评论用户评论</div>
                                    <div style="box-sizing:border-box;margin-top: 10px;padding: 1em;background-color: #aaa;color: white">
                                        <span>商家回复：</span>
                                        <span>回复内容回复内容</span>
                                    </div>
                                    <div>
                                        <a style="line-height: 1em;margin-top: 1em;cursor: pointer" @click="control.replyCommetVisible = true">回复该条评论</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>		
        </div>
        <el-dialog title="添加评论" :visible.sync="control.addCommetVisible">
            <el-form>
                <el-form-item label="评论内容">
                <el-input type="textarea" v-model="commet.content" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="control.addCommetVisible = false">取 消</el-button>
                <el-button type="primary" @click="control.addCommetVisible = false">确 定</el-button>
            </div>
        </el-dialog>
        <el-dialog title="回复评论" :visible.sync="control.replyCommetVisible">
            <el-form>
                <el-form-item label="回复内容">
                <el-input type="textarea" v-model="reply.content" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="control.replyCommetVisible = false">取 消</el-button>
                <el-button type="primary" @click="control.replyCommetVisible = false">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</div>
<!-- PAGE SECTION END -->

<!-- FOOTER TOP SECTION START -->
<div class="footer-top-section section pt-100 pb-60">
	<div class="container">
		<div class="row">
           
            <!-- Footer Widget -->
			<div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-40">
				<h5 class="widget-title">关于本店</h5>
				<p>介绍信息介绍信息</p>
			</div>
			
			<!-- Footer Widget -->
			<div class="footer-widget col-md-2 col-sm-6 col-xs-12 mb-40">
				<h5 class="widget-title">PROFILE</h5>
				<ul>
					<li><a href="#">my Account</a></li>
					<li><a href="#">Checkout</a></li>
					<li><a href="#">help</a></li>
					<li><a href="#">support</a></li>
				</ul>
			</div>
			
		</div>
	</div>
</div>
<!-- FOOTER TOP SECTION END -->  

<!-- FOOTER BOTTOM SECTION START -->
<div class="footer-bottom-section section">
	<div class="container">
		<div class="row">
            <!-- Copyright -->
			<div class="copyright text-left col-sm-6 col-xs-12">
				<p>Powered by <a href="https://hastech.company/">HasTech</a></p>
			</div>
			<!-- Payment Method -->
			<div class="footer-menu text-right col-sm-6 col-xs-12">
				<a href="#">Help & Support</a>
			</div>
		</div>
	</div>
</div>
<!-- FOOTER BOTTOM SECTION END -->  
   

</div>
<!-- Body main wrapper end -->


<!-- Placed JS at the end of the document so the pages load faster -->

<!-- jQuery latest version -->
<script src="js/vendor/jquery-3.1.1.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Ajax Mail js -->
<script src="js/ajax-mail.js"></script>

<!-- Vue -->
<script src="js/vendor/vue.min.js"></script>
<!-- Element -->
<script src="js/vendor/element.min.js"></script>
<!-- api -->
<script src="js/apis.js"></script>
<!-- ajax -->
<script src="js/ajax-plugin.js"></script>

<!-- Main js -->
<script src="js/main.js"></script>

<script>
 var productVM = new Vue({
     el: "#product",
     data: {
         control: {
            addCommetVisible: false,
            replyCommetVisible: false
         },
         commet: {
            content: ''
         },
         reply: {
            content: ''
         },
         product: {
             goodsId: 'goodsId',
             goodsName: "商品名称",
             goodsPrice: '123.45',
             goodsDetails: '简介简介'
         }
     }
 })
</script>

</body>

</html>
