<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biz.platform.web.mapper.UserMapper">

    <resultMap type="com.biz.platform.web.pojo.User" id="userResultMap">
        <result column="user_id" property="userId"/>
        <result column="user_code" property="userCode"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_name" property="userName"/>
        <result column="user_type" property="userType"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_addr" property="userAddr"/>
        <result column="create_time" property="createTime"/>
        <result column="last_modify_time" property="lastModifyTime"/>
    </resultMap>

    <sql id="sys_user_result">
        user_id,user_code,user_password,user_name,user_type,user_phone,user_email,user_addr,create_time,last_modify_time
    </sql>




</mapper>